{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Все рецепты{% endblock %}
{% block content %}
<h2 class="mb-2">Все рецепты</h2>
<div class="container-fluid mb-2">
    <div class="row">
        <div class="col">&nbsp;</div>
        <form class="col-md-auto form-inline">
            {% bootstrap_form form show_label=False %}
            {% bootstrap_button content='Искать' button_type='submit' %}
        </form>
    </div>
</div>
{% if rss %}
<ul class="list-unstyled">
    {% for rs in rss %}
    <li class="media my-5 p-3 border">
        {% url 'main:all_recipes_detail' pk=rs.pk as url %}
        <a href="{{ url }}{{ all }}">
            {% if rs.image %}
            <img class="mr-3" src="{% thumbnail rs.image 'default' %}">
            {% else %}
            <img class="mr-3" src="{% static 'main/empty.jpg' %}">
            {% endif %}
        </a>
        <div>
            <h4><a href="{% url 'main:by_category' pk=rs.category.pk %}">{{ rs.category.name }}</a></h4>
            <h3><a href="{{ url }}{{ all }}">{{ rs.title }}</a></h3>
            <div>{{ rs.description }}</div>
            <p class="text-right font-weight-bold">{{ rs.cooking_time }} мин.</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% bootstrap_pagination page url=keyword %}
{% endif %}
{% endblock %}